doctype html
<!-- Lenguaje -->
html(lang="es")
<!-- Uso de Etiquetas pug-->
head
    title Este nombre

body 
    div
        h1 christian
    div
        h2
            a(href="www.google.com") Bienvenido
    div
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptatem aperiam, tempore fugit officia possimus incidunt blanditiis odio unde nisi eaque accusamus nulla voluptatibus mollitia optio excepturi exercitationem quo! Vitae.
        
        img(src="images/", alt="")

    div
        h1 Titulo
        ul
            li lista 1
            li lista 2
            li lista 3